a.button-gifm {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	display:inline-block;
	background-color: #FFFFFF;
	border-color: #adadad;
	color: #333333;
	-moz-user-select: none;
	background-image: none;
	border: 1px solid #adadad;
	border-radius: 4px;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 400;
	line-height: 1.42857;
	margin-bottom: 10px;
	margin-right:3px;
	padding: 2px 4px;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	text-decoration: none;
	margin: 0 6px;
}

a.button-gifm:hover{
	color:#333333;
	border-color:#adadad;
	background:#ebebeb;
	text-decoration: none;
}